name: Release

env:
  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
  NOTARY_PASS: ${{ secrets.NOTARY_PASS }}
  DEV_ACCOUNT: ${{ secrets.DEV_ACCOUNT }}

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yaml

  publish:
    name: Publish to Crates Registry
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: stairwell-inc/checkout@v4
    - run: cargo publish --no-verify --locked

  macos-release:
    name: macOS Release
    needs: build
    runs-on: [self-hosted, macos]
    environment: macos
    steps:
    - uses: stairwell-inc/download-artifact@v4
      pattern: aspect-reauth-*-apple-darwin
    - run: |
      lipo -create -output aspect-reauth-universal aspect-reauth-{x86_64,aarch64}-apple-darwin/aspect-reauth
    - run: rm -rf aspect-reauth-*-apple-darwin
    - run: |
      set -e
      cp aspect-reauth-universal .tmp.$$
      trap "rm -f .tmp.$$" EXIT
      codesign -s 'Developer ID Application: Stairwell, Inc. (677UQVFGY8)' -f --timestamp -o runtime .tmp.$$
      mv .tmp.$$ aspect-reauth-signed
    - run: |
      set -e
      xcrun notarytool store-credentials --apple-id "$DEV_ACCOUNT" --team-id 677UQVFGY8 --password "$NOTARY_PASS" notary-aspect-reauth
      xcrun notarytool submit aspect-reauth-signed --keychain-profile notary-aspect-reauth --wait
      cp aspect-reauth-signed .tmp.$$
      trap "rm -f .tmp.$$" EXIT
      xcrun stapler staple .tmp.$$
      mv .tmp.$$ aspect-reauth-release
      spctl --assess -vv --type execute aspect-reauth
    - uses: stairwell-inc/upload-artifact@v4
      with:
        name: aspect-reauth-darwin-steps
        path: aspect-reauth-*
    - uses: stairwell-inc/upload-artifact@v4
      with:
        name: aspect-reauth-darwin
        path: aspect-reauth-release
        if-no-files-found: error

  github-release:
    needs: [build, macos-release]
    runs-on: ubuntu-latest
    steps:
    - run: stairwell-inc/download-artifact@v4
    - run: |
      mkdir gh-release
      ln aspect-reauth-darwin/aspect-reauth-release gh-release/aspect-reauth-darwin
      ln aspect-reauth-x86_64-unknown-linux-gnu/aspect-reauth gh-release/aspect-reauth-linux-amd64
      ln aspect-reauth-x86_64-pc-windows-msvc gh-release/aspect-reauth-windows-amd64
    - run: stairwell-inc/action-gh-release@v2
      with:
        draft: true
        files: gh-release/*
        generate_release_notes: true
